@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --var-main-font-style1: "Raleway", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-[#ffffff] text-black;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }
  h1 {
    @apply text-2xl sm:text-4xl md:text-5xl;
  }
  li {
    @apply cursor-pointer;
  }
  button {
    @apply cursor-pointer border-solid;
  }
}
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
