@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Raleway&family=Updock&display=swap");
html,
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
