.header {
  margin: auto 0;
  height: 150px;
}

.divTitle {
  margin-top: 60px;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

.arrow {
  margin: auto;
  cursor: pointer;
}

.order {
  margin: auto;
}

.title {
  font-size: 22px;
  font-style: var(--var-main-font-style1);
}

.date {
  font-size: 16px;
  font-size: var(--var-main-font-style1);
  font-weight: 400;
}

.menu {
  font-size: 20px;
  margin-right: 30px;
  margin-left: 80px;
}

.logout {
  position: absolute;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 10% 5% 0 65%;
  width: 110px;
  height: 35px;
  background-color: white;
}

.commandeDetails {
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
}

.commandePrice {
  width: 27%;
  height: 50px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  padding: 0;
  font-size: 14px;
  font-family: var(--var-main-font-style1);
  color: black;
  background-color: #f2f2f2;
}

.livraison1 {
  width: 67%;
  height: 50px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  padding: 0;
  font-size: 14px;
  font-family: var(--var-main-font-style1);
  color: #06968a;
  background-color: rgba(51, 153, 102, 0.2);
}

.livraison2 {
  width: 67%;
  height: 50px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  padding: 0;
  font-size: 14px;
  font-family: var(--var-main-font-style1);
  color: #ffb923;
  background-color: rgba(255, 185, 35, 0.2);
}

.livraison3 {
  width: 67%;
  height: 50px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  padding: 0;
  font-size: 14px;
  font-family: var(--var-main-font-style1);
  color: #e41b1b;
  background-color: rgba(228, 27, 27, 0.2);
}

@media screen and (min-width: 700px) {
  .header {
    margin: auto 0;
    height: 35px;
  }

  .divTitle {
    margin-left: 25%;
    margin-left: 25%;
  }

  .title {
    font-size: 25px;
  }

  .date {
    font-size: 19px;
  }
} ;
