.header {
  margin: auto 0;
  height: 50px;
}

.divTitle {
  margin-top: 20px;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

.arrow {
  margin: auto;
  cursor: pointer;
  margin-left: 7px;
}

.account {
  margin: auto;
  margin-left: -90px;
}

.title {
  font-size: 22px;
  font-weight: 700;
}

.date {
  font-size: 16px;
  font-weight: 400;
}

.menu {
  font-size: 20px;
  margin-right: 30px;
  margin-left: 20px;
}

.accountDiv {
  position: absolute;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 12% 5% 0 65%;
  width: 110px;
  height: 60px;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
}

.monCompte {
  position: relative;
  border-radius: 4px;
  width: 110px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
}

.logout {
  position: relative;
  border-radius: 4px;
  width: 100px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  color: red;
  font-size: 16px;
  font-weight: 700;
}

.commandeDetails {
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
  margin-right: 5%;
}

.commandePrice {
  width: 27%;
  height: 50px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  padding: 0;
  font-size: 14px;
  color: black;
  background-color: #f2f2f2;
}

.livraison1 {
  width: 67%;
  height: 50px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  padding: 0;
  font-size: 14px;

  font-size: 16px;
  font-weight: 700;
  color: #06968a;
  background-color: rgba(51, 153, 102, 0.2);
}

.livraison2 {
  width: 67%;
  height: 50px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  padding: 0;
  font-size: 14px;

  font-size: 16px;
  font-weight: 700;
  color: #fc623a;
  background-color: rgba(255, 185, 35, 0.2);
}

.livraison3 {
  width: 67%;
  height: 50px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  border: none;
  border-radius: 4px;
  padding: 0;
  font-size: 14px;

  font-size: 16px;
  font-weight: 700;
  color: #e41b1b;
  background-color: rgba(228, 27, 27, 0.2);
}

@media screen and (min-width: 700px) {
  .header {
    margin: auto 0;
    height: 35px;
    margin-bottom: 50px;
  }

  .divTitle {
    margin-left: 25%;
    margin-left: 25%;
  }

  .arrow {
    margin-top: 10px;
    width: 5%;
    height: 2%;
  }

  .title {
    font-size: 25px;
  }

  .date {
    font-size: 19px;
  }

  .menu {
    font-size: 40px;
    margin-right: 36%;
  }

  .accountDiv {
    margin: 4% 38%;
  }

  .account {
    margin: auto;
    margin-left: -640px;
  }
} ;
