.header {
  height: 255px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.divTitle {
  margin-top: 60px;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  cursor: pointer;
  margin-right: 10px;
}

.title {
  font-size: 22px;
  font-weight: 700;
}

.date {
  font-size: 16px;
  font-weight: 400;
}

.menu {
  font-size: 30px;
  margin-right: 10px;
}

.accountDiv {
  position: absolute;
  z-index: 1;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 12% 55%;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
}

.monCompte {
  position: relative;
  border-radius: 4px;
  width: 130px;
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  font-size: 16px;
  font-weight: 700;
}

.logout {
  position: relative;
  border-radius: 4px;
  width: 130px;
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: white;
  color: red;
  font-size: 16px;
  font-weight: 700;
}

.btnCart {
  margin: 30px 0;
  background: #06968a !important;
  border-radius: 4px;
  width: 217px;
  height: 48px;
  color: white;
  cursor: pointer;
}

.btnCartEmpty {
  margin: 30px 0;
  background: #06968a !important;
  opacity: 0.5;
  border-radius: 4px;
  width: 217px;
  height: 48px;
  color: white;
}

.headCmd {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.priceTotal {
  width: 107px;
  height: 48px;
  background-color: #f2f2f2;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
}

.francoText {
  margin-left: 24px;
  font-size: 14px;
}
.franco {
  font-weight: 800;
}

/* Progress bar */

.container {
  background-color: #f2f2f2;
  height: 7px !important;
  margin-top: 5px;
}

.container div {
  background: #06968a !important;
  height: 7px !important;
}

.label {
  display: none;
}

@media screen and (min-width: 700px) {
  .headCmd {
    width: 90%;
    justify-content: space-evenly;
  }

  .divTitle {
    margin-left: 25%;
    margin-left: 25%;
  }

  .title {
    font-size: 25px;
  }

  .date {
    font-size: 19px;
  }
  /* 
  .header {
    height: 258px;
  } */

  .arrow {
    margin-left: -100px;
  }

  .francoText {
    margin-left: 23%;
    font-size: 16px;
  }
  .franco {
    font-weight: 800;
  }

  .container {
    margin-left: 20%;
    width: 50.5%;
    height: 10px;
    margin-bottom: 2px;
  }

  .menu {
    font-size: 35px;
    margin-right: 40%;
  }

  .accountDiv {
    margin: 3% 38%;
  }
}
