.header {
  margin: auto 0;
  height: 35px;
}

.divTitle {
  margin-top: 60px;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 22px;
  font-style: var(--var-main-font-style1);
  margin-bottom: -10px;
}

.date {
  font-size: 16px;
  font-size: var(--var-main-font-style1);
  font-weight: 400;
}

.menu {
  font-size: 13px;
}

@media screen and (min-width: 700px) {
  .header {
    margin: auto 0;
    height: 35px;
  }

  .divTitle {
    margin-left: 25%;
    margin-left: 25%;
  }

  .title {
    font-size: 25px;
  }

  .date {
    font-size: 19px;
  }
} ;
