/* ------------------- TOP SECTION ---------------- */
.detail_wrapper {
  line-height: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130vh;
}
.detail_title {
  line-height: 2.5rem;
  margin: 2rem auto 1.5rem;
  text-align: center;
  padding: 0.5rem;
}
.top_container {
  display: flex;
  height: 50%;
}
/* --------------- TOP LEFT ------------------ */
.top_left {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 1rem;
}
.product_pic {
  height: 8rem;
  width: 8rem;
  border-radius: 4px;
  margin: 1rem auto;
}

.top_left h3 {
  font-weight: 800;
  font-size: 0.9rem;
}
.top_left p {
  font-style: italic;
  opacity: 80%;
  font-size: 0.9rem;
  width: 8rem;
  margin-bottom: 0.5rem;
}
.product_detail {
  height: 4rem;
  width: 4rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

/*-----------------------TOP RIGHT ----------------*/
.top_right {
  display: flex;
  flex: 2;
  overflow: scroll;
  height: 100%;
}
.product_desc {
  padding: 0 16px;
  opacity: 70%;
  font-size: 12px;
  font-weight: 300;
  text-align: justify;
}

/* ------------- BOTTOM SECTION ------------ */
.bot_container {
  display: flex;
  flex-direction: column;
  border: 0.5px solid lightgray;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  height: 50%;
}
.bot_top {
  display: flex;
  margin-bottom: 1rem;
}
.bot_top_desc {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.5rem;
  font-size: 1rem;
}
.bot_top_desc h3 {
  font-size: 0.9rem;
  font-weight: 800;
}
.bot_top_desc p {
  opacity: 70%;
  font-size: 0.9rem;
}
.bot_bot {
  height: 30vh;
  overflow: scroll;
}
.bot_bot p {
  opacity: 70%;
  font-size: 12px;
  font-weight: 300;
  text-align: justify;
}
.maker_pic {
  height: 8rem;
  width: 8rem;
  border-radius: 4px;
}

@media screen and (min-width: 700px) {
  .detail_wrapper {
    max-width: 50%;
    margin: 0 auto;
    overflow: hidden;
  }
  .detail_title {
    line-height: 2.5rem;
    margin: 3rem auto 1.5rem;
    text-align: center;
    padding: 0.5rem;
    font-size: x-large;
  }
  .top_container {
    display: flex;
    height: 50%;
    margin-bottom: 5rem;
  }
} ;
