.main_container {
  margin: 10% 0;
}

.item_wrapper {
  position: relative;
  background-color: white;
  padding: 0.4rem;
  height: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 4px;
  margin: 0.5rem auto;
  font-family: "Raleway", sans-serif;
}
.is_selected {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  border-radius: 0 30px 30px 0;
  height: 100%;
  background-color: #339966;
}
.item_picture {
  height: 44px;
  width: 44px;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.item_picture img {
  height: 4rem;
  width: 4rem;
  border-radius: 4px;
}

.item_detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item_title {
  overflow: scroll;
  height: 2rem;
  width: 108px;
  font-weight: bolder;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  font-size: 14px;
  font-weight: 700;
  margin-top: 0.7rem;
}
.item_title::-webkit-scrollbar {
  display: none;
}

.item_weight {
  font-size: 12px;
  font-weight: 300;
  opacity: 60%;
  display: flex;
  margin-top: -0.2rem;
}
.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.itemPrice {
  background-color: #f2f2f2;
  padding: 0.2rem;
  border-radius: 4px;
  height: 27px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 14px;
}
.itemPricePerKg {
  height: 1.5rem;
  width: 6rem;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
}

.item_stock {
  font-size: 9px;
  font-weight: 400;
  margin-left: 0.5rem;
  width: 4rem;
  text-align: center;
}

.instock {
  display: none;
}
.out_of_stock {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #e41b1b33;
  color: #e41b1b;
  padding: 0.3rem;
  border-radius: 4px;
}
.low_on_stock {
  background-color: #05050433;
  color: #3b3a3a;
  opacity: 60%;
  padding: 0.3rem;
  border-radius: 4px;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.countBtn {
  border-radius: 90%;
  border: none;
  font-size: large;
  height: 14px;
  width: 14px;
  color: #9d9d9d;
  background-color: #f2f2f2;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.count_total {
  font-weight: 700;
  font-size: 12px;
}

.btnCart {
  margin: 30px auto;
  background: #06968a !important;
  border-radius: 4px;
  width: 217px;
  height: 48px;
  color: white;
}

.headCmd {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.priceTotal {
  background-color: gray;
}

/* 
CART */
.item_quantity {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quantity {
  width: 30px;
  height: 27px;
  background-color: #f2f2f2;
  text-align: center;
}

.poids {
  font-size: 9px;
  font-weight: 300;
  padding-top: 1rem;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .item_wrapper {
    width: 50vw;
  }

  .headCmd {
    display: flex;
    align-items: center;
    margin-left: 30%;
  }
}

@media screen and (min-width: 480px) {
  .item_wrapper {
    margin: 0.5rem 20%;
  }
}
