.item_wrapper {
  border: solid 1px black;
  padding: 0.4rem;
  height: 6rem;
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin: 0.5rem 1rem;
}
.item_picture {
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.item_title {
  overflow: scroll;
  max-height: 2rem;
  max-width: 8rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.item_weight {
  font-size: 0.8rem;
  font-weight: 300;
  opacity: 60%;
}
.price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.itemPrice {
  background-color: #f2f2f2;
  font-weight: 600;
  padding: 0.2rem;
  border-radius: 4px;
  height: 2.5rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemPricePerKg {
  height: 2.5rem;
  max-width: 4rem;
  font-size: 0.8rem;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_stock {
  display: flex;
  flex-direction: column;
}
.stock_display_instock {
  display: flex;
  padding: 0.55rem;
  border-radius: 4px;
  background-color: #33996633;
  color: #339966;
}
.out_of_stock {
  background-color: #e41b1b33;
  color: #e41b1b;
  padding: 0.3rem;
  border-radius: 4px;
}

.counter {
  background-color: lightgray;
  opacity: 50%;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
