.searchModuleWrapper {
  width: 100%;
}
.search_input {
  cursor: pointer;
  border-radius: 10px;
  padding: 4px 12px;
  margin: 1rem;
  width: 60%;
  background-color: #06968a;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}

.option {
  margin: 1rem;
  font-weight: 600;
}

.text_input {
  margin: 1rem;
  width: 60%;
  border: #06968a 1px solid;
  cursor: pointer;
  border-radius: 10px;
  padding: 4px 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.listButtons {
  display: flex;
  width: 60%;
  overflow-x: scroll;
  background-color: #f2f2f2;
}
.listButtons::-webkit-scrollbar {
  display: none;
}
.listButtons {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.filterButtons {
  cursor: pointer;
  padding: 0.2rem;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 900;
  border-radius: 10px;
  color: black;
  background-color: white;
  min-width: 7rem;
  height: 2rem;
  margin: 0.2rem;
}
.filterActive {
  background-color: #06968a;
  color: white;
}
.filterButtons:hover {
  cursor: pointer;
  padding: 0.2rem;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 900;
  border-radius: 10px;
  color: white;
  background-color: #06968a;
  min-width: 7rem;
  height: 2rem;
  margin: 0.2rem;
}
.filterButtons::-webkit-scrollbar {
  display: none;
}
.filterButtons {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (min-width: 480px) {
  .searchModuleWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .search_input {
    align-self: center;
  }
  .listButtons {
    justify-content: space-evenly;
    text-align: center;
  }
  .filterButtons {
    width: 6rem;
  }
}
