.searchModuleWrapper {
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 220px;
}
.searchFilters {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search_input {
  cursor: pointer;
  border-radius: 10px;
  padding: 4px 12px;
  margin: 1rem;
  width: 60%;
  background-color: #06968a;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}

.option {
  margin: 1rem;
  font-weight: 600;
}

.text_input {
  align-self: flex-start;
  margin: 0.5rem;
  width: 90%;
  height: 48px;
  cursor: pointer;
  border-radius: 100px;
  padding: 4px 12px;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 70%;
}

.listButtons {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  background-color: #f2f2f2;
}
.listButtons::-webkit-scrollbar {
  display: none;
}
.listButtons {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.filterButtons {
  cursor: pointer;
  padding: 5px;
  text-align: center;
  font-size: 0.6rem;
  font-weight: 900;
  border-radius: 10px;
  color: black;
  background-color: white;
  min-width: 7rem;
  height: 40px;
  margin: 0.2rem;
}

.filterButtons:hover {
  color: white;
  background-color: #06968a;
}
.filterButtons::-webkit-scrollbar {
  display: none;
}
.filterButtons {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (min-width: 480px) {
  .searchModuleWrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text_input {
    width: 50%;
    align-self: center;
  }
  .listButtons {
    justify-content: space-between;
    width: 51%;
  }
  .filterButtons {
    width: 6rem;
  }
  .filterButtons:visited {
    background-color: #06968a;
    color: white;
  }
}
